[package]
name = "organization-app"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-files = "0.6.2"
actix-web = "4.4.0"
askama = "0.12.1"
dotenv = "0.15.0"
serde = { version = "1.0.192" features = ["derive"]}
serde_json = "1.0.108"
sqlx = "0.7.3"
uuid = { version = "1.5.0", features=["serde"]}
