version: "3"

volumes:
  pgdata_keycloak:
    #networks:
    #  keycloak_dev_network:
    #    driver: bridge

services:
  web:
    container_name: web-container
    restart: always
    build: .
    ports:
      - ${PORT}:${PORT}
    depends_on:
      - db

  db:
    container_name: postgres-container
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: pv281
    ports:
      - "5432:5432"

  pgadmin:
    container_name: pgadmin-container
    image: dpage/pgadmin4:latest
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"

  keycloakdb:
    container_name: postgres-keycloak-container
    image: postgres:latest
    command: postgres -c 'max_connections=100'
    volumes:
      - pgdata_keycloak:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: ${KEYCLOAK_DB_USER}
      POSTGRES_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
      PGPORT: 6543
    ports:
      - "6543:6543"
    healthcheck:
      test: "exit 0"
  #    networks:
  #      - keycloak_dev_network

  keycloak:
    container_name: keycloak-container
    image: quay.io/keycloak/keycloak:latest
    command: start-dev
    restart: always
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: keycloakdb
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: ${KEYCLOAK_DB_USER}
      KC_DB_PASSWORD: ${KEYCLOAK_DB_PASSWORD}

      KC_DB_SCHEMA: public
      KC_DB_URL_PORT: 6543

      KC_LOG_LEVEL: ${KC_LOG_LEVEL}
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
    ports:
      - ${KC_PORT}:8080
    depends_on:
      keycloakdb:
        condition: service_healthy

#    networks:
#      - keycloak_dev_network
