<div id="comments-container"
     class="flex
            flex-col
            space-y-2
            items-center
            bg-foreground1
            w-full
            m-5
            p-5">
    <h3 class="text-2xl
               text-txthl
               font-bold">Event Discussion</h3>

    <div id="comments-content"
         class="w-full">
        {% for comment in comments %}
        <div id="comment-{{ comment.id }}"
             class="flex
                    flex-row
                    space-x-3
                    items-start
                    align-middle
                    rounded-md
                    m-2
                    w-10/12">
                {% include "comment.html" %}
                {% if comment.author.id == requester_id %}
                <div id="comment-actions"
                     class="flex
                            flex-row
                            space-x-3">
                     <button hx-get="/comment/{{ comment.id }}/edit-mode"
                             hx-swap="innerHTML"
                             hx-target="#comment-{{ comment.id }}"
                             title="Edit">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor"
                             class="w-6
                                    h-6
                                    text-txthl">
                                <path stroke-linecap="round"
                                      stroke-linejoin="round"
                                      d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                        </svg>
                     </button>
                     <button hx-delete="/comment/{{ comment.id }}"
                             hx-swap="delete"
                             hx-target="#comment-{{ comment.id }}"
                             title="Delete"
                             hx-confirm="Are you sure you want to delete this comment?">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor"
                             class="w-6
                                    h-6
                                    text-rej">
                                <path stroke-linecap="round"
                                      stroke-linejoin="round"
                                      d="M12 9.75 14.25 12m0 0 2.25 2.25M14.25 12l2.25-2.25M14.25 12 12 14.25m-2.58 4.92-6.374-6.375a1.125 1.125 0 0 1 0-1.59L9.42 4.83c.21-.211.497-.33.795-.33H19.5a2.25 2.25 0 0 1 2.25 2.25v10.5a2.25 2.25 0 0 1-2.25 2.25h-9.284c-.298 0-.585-.119-.795-.33Z" />
                        </svg>                              
                     </button>
                </div>
                {% endif %}
        </div>
        {% endfor %}
    </div>

    <div id="comment-post"
         class="flex
                flex-row
                space-x-3
                items-start
                align-middle
                rounded-md
                m-2
                w-full">
    <form hx-post="/event/{{ event_id }}/comment"
          hx-ext="json-enc"
          hx-swap="innerHTML"
          hx-target="#comments-content"
          class="flex
                 flex-row
                 items-start
                 align-middle
               bg-foreground2
                 rounded-md
                 w-full
                 p-1">
        <input hidden 
                id="author_id"
                name="author_id"
                value="{{ requester_id }}">
        <input id="comment_content"
                name="content"
                class="font-mono
                    text-txt
                    bg-foreground2
                    rounded-md
                    w-full"
                required>
        <button type="submit"
                title="Post"
                class="flex
                        flex-row
                        bg-foreground2">
            <svg xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6
                        h-6
                        text-txthl">
                <path stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
            </svg>               
        </button>
    </form>    
</div>
</div>