<div id="employment" 
     class="flex
            flex-col
            space-y-10
            items-center
            w-max">
    <p class="font-mono
              text-xl
              text-pnd">Change only values you wish to change! Leave others untouched.</p>

    <!-- TODO: Consider returning to the editor instead. -->
    <form hx-patch="/user/{{ user_id }}/employment/{{ company_id }}" 
          hx-swap="innerHTML"
          hx-target="#content"
          hx-confirm="Are you sure you wish to edit the employee's employment data?"
          hx-ext="json-enc"
          id="user-edit"
          class="flex
                 flex-col
                 items-center
                 align-middle
                 space-y-2">
        <input type="hidden" id="editor_id" name="editor_id" value="{{ editor_id }}">
        <div class="flex flex-col">
            <label for="hourly_wage"
                   class="font-mono
                          text-xl
                          text-txt">Hourly Wage</label>
            <input id="hourly_wage" 
                   name="hourly_wage"
                   type="number"
                   class="font-mono
                          text-xl
                          text-txt
                          bg-foreground1"
                   value="{{ hourly_wage }}">
        </div>
        <div class="flex
                    flex-col">
            <label for="start_date"
                   class="font-mono
                          text-xl
                          text-txt">Employment Start Date</label>
            <input id="start_date"
                   name="start_date"
                   type="date"
                   class="font-mono
                          text-xl
                          text-txt
                          bg-foreground1"
                   value="{{ start_date }}">
        </div>
        <div class="flex
                    flex-col">
            <label for="end_date"
                   class="font-mono
                          text-xl
                          text-txt">Employment End Date</label>
            <input id="end_date"
                   name="end_date"
                   type="date"
                   class="font-mono
                          text-xl
                          text-txt
                          bg-foreground1"
                   value="{{ end_date }}">
        </div>
        {% if description.is_some() -%}
            <div class="flex
                        flex-col">
                <label for="description"
                       class="font-mono
                              text-xl
                              text-txt">Description</label>
                <input id="description"
                       name="description"
                       type="text"
                       class="font-mono
                          text-xl
                          text-txt
                          bg-foreground1"
                       value="{{ description.as_ref().unwrap() }}">
            </div>
        {%- endif %}
        <div class="flex flex-col">
            <datalist id="employment-type-list">
                <option value="Hpp" />
                <option value="Dpp" />
                <option value="Dpc" />
            </datalist>
            <label for="employment_type"
                   class="font-mono
                          text-xl
                        text-txt">Employment Type</label>
            <input id="employment_type"
                   name="employment_type"
                   type="employment-type-list"
                   class="font-mono
                          text-xl
                          text-txt
                          bg-foreground1"
                   value="{{ employment_type }}">
        </div>
        <div class="flex flex-col">
            <datalist id="level-list">
                <option value="Basic" />
                <option value="Manager" />
                <option value="Company Administrator" />
            </datalist>
            <label for="level"
                   class="font-mono
                          text-xl
                          text-txt">Employee Level</label>
            <input id="level"
                   name="level"
                   type="level-list"
                   class="font-mono
                          text-xl
                          text-txt
                          bg-foreground1"
                   value="{{ level }}">
        </div>

        <button type="submit"
                class="font-mono
                        text-lg
                        text-txthl">Save Changes</button>
    </form>
    <!-- Return to the editor's page, not the user's page. -->
    <button hx-get="/user/{{ editor_id }}/employment/{{ company_id }}"
            hx-swap="innerHTML"
            hx-target="#content"
            class="font-mono
                   text-lg
                   text-txthl">Cancel</button>
</div>