<button
  hx-get="/protected/user/{{ employment.user_id }}/employment/{{ employment.company.id }}"
  hx-target="#content"
  hx-swap="innerHTML"
  class="w-full mx-10"
>
  <div
    id="employment-lite"
    class="flex flex-row space-x-2 pr-4 items-start w-full bg-foreground1"
  >
    <div class="bg-foreground1 w-24 h-24 rounded-md">
      <img
        src="{{ employment.company.avatar_url }}"
        class="object-contain rounded-md"
      />
    </div>
    <div
      id="company-info"
      class="flex flex-col space-y-3 pr-5 pb-1 items-start"
    >
      <p class="font-mono text-2xl text-txthl">{{ employment.company.name }}</p>
      <div class="flex flex-row space-x-10 items-start align-middle">
        <p class="font-mono text-lg text-txt">
          Type: {{ employment.employment_type }}
        </p>
        <div class="flex flex-row space-x-2 items-start align-middle">
          <svg
            class="w-6 h-6 text-txt"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"
            />
          </svg>
          <p class="font-mono text-lg text-txt">
            {{ employment.start_date.format("%d.%m.%Y").to_string() }} - {{
            employment.end_date.format("%d.%m.%Y").to_string() }}
          </p>
        </div>
      </div>
    </div>
  </div>
</button>
