<div id="sheets" class="flex flex-col p-3 w-full space-y-2 items-center">
  <div id="title">
    <h2 class="font-mono text-4xl font-extrabold text-txthl">
      Your Timesheets
    </h2>
  </div>
  {% if timesheets.is_empty() %}
  <p class="font-mono text-rej text-2xl">No sheets found.</p>
  {% else %} {% for sheet in timesheets %} {% include "timesheet-lite.html" %}
  {% endfor %} {% endif %}
  <button
    hx-get="/user/{{user_id}}/employment/{{company_id}}"
    hx-swap="innerHTML"
    hx-target="#content"
    class="font-mono text-txthl text-lg bg-foreground1 rounded-md p-1"
  >
    Go Back
  </button>
</div>
