<div
  id="workday-{{ date }}"
  class="flex flex-row w-10/12 items-start align-middle rounded-md p-2 space-x-12 text-wrap overflow-hidden bg-foreground2"
>
  <p class="font-mono text-txt font-bold text-lg">
    {{ date.format("%d.%m.%Y").to_string() }}
  </p>
  <p class="font-mono text-txt text-lg">Hours: {{ total_hours }}</p>
  <div class="flex flex-row space-x-1">
    <p class="font-mono text-txt text-lg">Comment:</p>
    <p class="font-mono text-txt">
      {{ comment.clone().unwrap_or("".to_string()) }}
    </p>
  </div>
  <button
    hx-get="/timesheet/{{ timesheet_id }}/day/{{ date }}/edit-mode"
    hx-swap="#outerHTML"
    hx-target="#workday-{{ date }}"
    class="font-mono text-lg text-txthl"
  >
    Edit
  </button>
</div>
