<div id="associated-container"
         class="flex 
                flex-col
                items-center
                align-middle
                w-full">
    <h3 class="text-txt font-mono text-2xl">Associated Companies</h3>
    <div id="associated-companies"
         class="flex
                flex-row
                gap-2
                items-center
                align-middle
                w-full">
        {% for asc in associated_companies %}
        <button hx-get="/company/{{ asc.company.id }}"
                hx-swap="innerHTML"
                hx-target="#content">
            <div id="company"
                class="flex
                        flex-row
                        space-x-2
                        bg-foreground1
                        border-foreground2
                        border-2
                        rounded-md
                        items-start
                        align-middle
                        pr-2
                        w-80
                        h-fit">
                <div class="rounded-md
                            w-28
                            h-28">
                    <img class="object-fill"
                        src="{{ asc.company.avatar_url }}">
                </div>
                <div class="flex
                            flex-col
                            space-y-2
                            pr-1">
                    <h4 class="text-txthl
                                text-lg
                                font-extrabold">{{asc.company.name}}</h4>
                    <p class="text-txt
                                text-lg">{{ asc.association_type }}</p>
                </div>
            </div>
        </button>
        {% endfor %}
    </div>
</div>