<div class="m-5 w-full">
  <div
    id="company-search"
    class="bg-foreground1 flex flex-col rounded-md w-full items-center m-5 p-2"
  >
    <h3 class="font-mono text-txthl text-xl font-bold">Find Companies</h3>
    <div class="flex flex-row space-x-2">
      <form
        hx-get="/protected/company-info"
        hx-swap="innerHTML"
        hx-target="#company-results"
        class="flex flex-row space-x-2 w-10/12 p-2 items-center bg-foreground1 rounded-md"
      >
        <div class="flex flex-row space-x-1">
          <label for="name" class="font-mono text-txt text-lg">Name:</label>
          <input
            id="name"
            name="name"
            type="text"
            class="font-mono text-txt text-lg bg-foreground2 p-1 rounded-md"
          />
        </div>
        <button
          type="submit"
          class="font-mono text-txthl text-lg bg-foreground2 p-1 rounded-md"
        >
          Search
        </button>
      </form>
    </div>
  </div>

  <div id="company-results"></div>
</div>
