<div id="company" class="flex flex-col space-y-10 w-10/12 items-center">
  <div class="flex flex-row space-x-5 text-wrap items-start">
    <div
      class="bg-foreground1 min-w-80 min-h-80 max-w-xl max-h-xl rounded-md border-foreground2 border-4"
    >
      <img src="{{ avatar_url }}" class="object-fill rounded-md" />
    </div>
    <div class="flex flex-col space-y-4 items-start w-full text-wrap">
      <h2 class="font-mono text-4xl font-extrabold text-txthl">{{ name }}</h2>
      <div
        class="bg-foreground1 w-full h-64 text-wrap text-ellipsis overflow-y-scroll p-2 rounded-md border-foreground2 border-2"
      >
        {% if description.is_some() -%}
        <p class="font-mono text-lg text-txt">
          {{ description.as_ref().unwrap() }}
        </p>
        {%- else -%}
        <p class="font-mono text-lg text-txt bg-foreground1">
          No company description set.
        </p>
        {%- endif %}
      </div>
      <p class="font-mono text-xl text-txt"><b>CRN:</b> {{ crn }}</p>
      <p class="font-mono text-xl text-txt"><b>VATIN:</b> {{ vatin }}</p>

      <div id="address" class="flex flex-row space-x-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 text-txt"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
          />
        </svg>

        <p class="font-mono text-xl text-txt">
          {{ street }} {{ address_number }}, {{ postal_code }}, {{ city }}, {{
          region }}, {{ country }}
        </p>
      </div>
      <div id="phone" class="flex flex-row space-x-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 text-txt"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0 6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z"
          />
        </svg>
        <p class="font-mono text-xl text-txt">{{ phone }}</p>
      </div>

      <div id="email" class="flex flex-row space-x-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 text-txt"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
          />
        </svg>
        <p class="font-mono text-xl text-txt">{{ email }}</p>
      </div>

      {% if website.is_some() -%}
      <a href="{{ website.as_ref().unwrap() }}">
        <div class="flex flex-row space-x-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 text-txthl"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418"
            />
          </svg>
          <p class="font-mono text-xl text-txthl">Visit our website!</p>
        </div>
      </a>
      {%- endif %}
    </div>
  </div>
</div>
