<div id="companies" class="flex flex-col w-1/3 space-y-2 items-center">
  <div id="title">
    <h2 class="font-mono text-4xl font-extrabold text-txthl">Companies</h2>
  </div>
  {% for company in companies %}
  <button
    hx-get="/protected/company/{{ company.id }}"
    hx-target="#content"
    hx-swap="innerHTML"
    class="w-full"
  >
    <div
      class="flex flex-row w-full space-x-5 pr-10 items-start align-middle bg-foreground1 rounded-sm"
    >
      <div class="bg-foreground1 w-24 h-24 rounded-md">
        <img
          src="{{ company.avatar_url }}"
          class="w-full h-full object-contain rounded-md"
          alt="Company avatar"
        />
      </div>
      <h3 class="font-mono text-3xl my-2 text-txthl">{{ company.name }}</h3>
    </div>
  </button>
  {% endfor %}
</div>
