<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf8" />
    <title>Rust Organization App</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.4"
    integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
    crossorigin="anonymous"></script>
    <!-- HTMX JSON -->
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
</head>

<body>
    <div id="title" class="p-3 border-2 border-neutral-100 rounded-sm flex flex-col space-y-1 items-center">
        <h1 class="font-mono text-4xl font-extrabold">This is just a placeholder.</h1>
    </div>
</body>

</html>