<div id="tasks"
     class="flex
            flex-col
            space-y-5
            p-10
            items-center
            w-full">
    <h3 class="font-mono
               text-2xl
               text-txthl
               font-bold">Tasks</h2>

    {% for task in tasks %}
    <button hx-get="/protected/event/staff/{staff_id}/task/{{ task.id }}"
            hx-vals='js:{"staff_id": document.getElementById("misc_info").value}''
            hx-swap="innerHTML"
            hx-target="#content"
            hx-ext="path-params"
            class="w-7/12
                   m-10">
        <div id="{{ task.id }}"
            class="flex
                   flex-col
                   rounded-md
                 bg-foreground1
                   space-y-1
                   text-start
                   text-wrap
                   p-2
                   w-full">
            <div class="grid
                        grid-cols-3
                        w-full">
                <h3 class="justify-self-start
                           col-span-2
                           font-mono
                           font-bold
                           text-xl
                         text-txthl">{% if task.finished_at.is_some() %}COMPLETED - {% endif %}{{ task.title }}</h3>
                {% match task.priority %}
                    {% when TaskPriority::Low %}
                    <p class="justify-self-end
                            font-mono
                            text-lg
                            text-acc">Low Priority Task</p>
                    {% when TaskPriority::Medium %}
                    <p class="justify-self-end
                            font-mono
                            text-lg
                            text-pnd">Medium Priority Task</p>
                    {% when TaskPriority::High %}
                    <p class="justify-self-end
                            font-mono
                            text-lg
                            text-rej">High Priority Task</p>
                {% endmatch %}
            </div>
            <div class="grid
                        grid-cols-3
                        w-full">
              <p class="font-mono
                        text-lg
                        col-span-2
                        text-txt"><b>Created By:</b> {{ task.creator.name }}</p>
              {% if task.accepts_staff -%}
                  <p class="justify-self-end
                            font-mono
                            text-lg
                          text-acc">Accepting Staff</p>
              {%- else -%}
                  <p class="justify-self-end
                            font-mono
                            text-lg
                          text-rej">Not Accepting Staff</p>
              {%- endif %}
            </div>
        </div>
    </button>
    {% endfor %}
</div>

{% for task in tasks %}
{{ task.id }}
{{ task.event_id }},
{{ task.creator.id }},
{{ task.creator.name }},
{{ task.creator.status }},
{{ task.creator.age }},
{{ task.creator.gender }},
{{ task.creator.avatar_url }},
{{ task.title }},
{{ task.description }},
{{ task.priority }},
{{ task.accepts_staff }},
{{ task.created_at }},
{{ task.edited_at }}
{% endfor %}