<div id="task-panel"
         class="flex
                flex-col
                rounded-md
                bg-foreground1
                space-y-1
                items-start
                text-wrap
                p-2
                w-full">
        <h2 class="font-mono
                   text-3xl
                   text-txthl">{{ title }}</h2>
</div>

UNUSED

<!-- {{ id }}
{{ event_id }},
{{ creator_id }},
{{ creator.id }},
{{ creator.name }},
{{ creator.status }},
{{ creator.age }},
{{ creator.gender }},
{{ creator.avatar_url }},
{{ title }},
{{ description }},
{{ priority }},
{{ accepts_staff }},
{{ created_at }},
{{ edited_at }} -->