<script>
    document.getElementById('misc_info').value = '{{ requester.id }}';
</script>

<div id="tasks-panel"
     class="flex
            flex-col
            space-y-5
            w-full
            items-center">
    <h2 class="font-mono
               text-4xl
               text-txthl
               font-bold">Tasks</h2>
    <div id="tasks-actions"
         class="flex
                flex-row
                justify-between
                items-center
                space-x-10
                p-3
                m-3
                w-9/12
                rounded-md
              bg-foreground1">
        {% if requester.role == EventRole::Organizer %}
        <button hx-get="/event/staff/{{ requester.id }}/task-creation"
                hx-swap="innerHTML"
                hx-target="#content"
                class="p-2
                       rounded-md
                     bg-foreground2
                       font-mono
                     text-txthl
                       text-lg">Create New Task
        </button>
        {% endif %}
        <button hx-get="/event/{{ requester.event_id }}/staff-panel/{{ requester.user.id }}"
                hx-swap="innerHTML"
                hx-target="#content"
                class="p-2
                       rounded-md
                     bg-foreground2
                       font-mono
                     text-txthl
                       text-lg">Go Back
        </button>
    </div>
    <div id="tasks"
         hx-get="/event/{{ requester.event_id }}/task"
         hx-trigger="load">
    </div>
</div>